@import url('https://fonts.googleapis.com/css2?family=Liter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible+Mono:ital,wght@0,200..800;1,200..800&display=swap');

body {
   background-color: #D1C360;
   color: #6B2138;
   font-family: "Liter", serif;
   font-size: 20px;
   font-weight: 400;
   font-style: normal;
   text-align: center;
   justify-items: center;
   align-items:center;
   padding:20%;
   float:center;
}

section {
  position: center;
}

#styledtable {
    border-collapse: collapse;
  }

#styledtable td {
    border: px solid #6B2138;
    width: 200px;
    height: auto;
    text-align: center;
    padding: 10px;
  }

.choose-button {
    width: auto;
    height:25px;
    background-color: #6B2138;
    position: relative;
    border-radius: 10px;
    padding:10px;
}

.choose-button::before {
    content: "choose";
    color:#D1C360;
}

.choose-button:hover {
    content:"choose";
    background-color: #FC4D16;
}

.credit{
    font-family: "Atkinson Hyperlegible Mono", serif;
    font-size: 15px;
}

a {
    text-decoration: none;
    color: inherit;
  }
  