@import url('https://fonts.googleapis.com/css2?family=Liter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible+Mono:ital,wght@0,200..800;1,200..800&display=swap');

body {
   background-color: #B7D9FF;
   color: #6B2138;
   font-family: "Liter", serif;
   font-size: 20px;
   font-weight: 400;
   font-style: normal;
   text-align: center;
   justify-items: center;
   align-items:center;
   padding:20%;
   float:center;
}

.speech-text {
    animation: fadeIn 5s ease-in-out forwards;
    font-family: "Atkinson Hyperlegible Mono", serif;
    font-size: 15px;
}

.subtitle {
    animation: fadeIn2 5s ease-in-out forwards;
}
@keyframes fadeIn {
    0% { opacity: 0; }
    25% { opacity: 1; }
    100% { opacity: 1; }
}

@keyframes fadeIn2 {
    0% { opacity: 0; }
    25% { opacity: 0; }
    35% { opacity: 1; }
    100% { opacity: 1; }
}

.go-button {
    width: auto;
    height: 25px;
    background-color: #6B2138;
    border-radius: 10px;
    padding:10px;
}

.go-button::before {
    content: "let's go!";
    color:#B7D9FF;
}

.go-button:hover {
    content:"let's go!";
    background-color: #FC4D16;
}

a {
    text-decoration: none;
    color: inherit;
  }
  
.doug {
    width: auto;
    height: auto;
}

.doug:hover {
    transform: rotateY(180deg);
}
