@import url('https://fonts.googleapis.com/css2?family=Liter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible+Mono:ital,wght@0,200..800;1,200..800&display=swap');

body {
   background-color: #6B2138;
   color: #F8EEE5;
   font-family: "Liter", serif;
   font-size: 20px;
   font-weight: 400;
   font-style: normal;
   text-align: center;
   justify-items: center;
   align-items:center;
   padding:20%;
   float:center;
}

.speech-text {
    font-family: "Atkinson Hyperlegible Mono", serif;
    font-size: 15px;
}

.larry-speech {
    font-family: "Atkinson Hyperlegible Mono", serif;
    font-size: 15px;
    opacity: 0;
    animation: textAnimation 5s forwards;
  }
  
  #text1 {
    animation-delay: 0s;
  }
  
  #text2 {
    animation-delay: 5s;
  }

  @keyframes textAnimation {
    0% {opacity: 0;}
    15% {opacity: 1;}
    75% {opacity: 1;}
    100% {opacity: 0;}
  }

.back-button {
    width: auto;
    height: 25px;
    background-color: #F8EEE5;
    border-radius: 10px;
    padding:10px;
    animation: fadein 10s ease-in-out forwards;
}

.back-button::before {
    content: "back";
    color:#6B2138;
}

.back-button:hover {
    content:"back";
    background-color: #FC4D16;
}

a {
    text-decoration: none;
    color: inherit;
  }

.wizard-container {
    width: 80%;
    height: auto;
    animation: slideInOut 8s ease-in-out forwards;
    padding-top:20px;
}

@keyframes slideInOut {
    0%{transform: translate(-1000%,0%);}
    20%{transform: translate(0%,0%);}
    50%{transform: translate(0%,0%);}
    80%{transform: translate(0%,0%);}
    100%{transform: translate(1000%,0%);}
  }

  .larry-container {
    width: auto;
    height: auto;
    animation: fadeout 2s ease-in-out forwards;
    animation-delay: 8s;
  }

  @keyframes fadeout{
    0% {opacity: 1;}
    100%{opacity:0;}
  }

  @keyframes fadein{
    0% { opacity: 0; }
    80% { opacity: 0; }
    100% { opacity: 1; }
  }