@import url('https://fonts.googleapis.com/css2?family=Khand:wght@300;400;500;600;700&family=Noto+Sans+Display:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Instrument+Serif:ital@0;1&display=swap');

body {
    text-align: center;
    justify-items: center;
    align-items:center;
  }
.section1{
    background-color: #white;
    width:110%;
    height:fit-content;
    position:relative;
    padding:10% 10% 0% 10%;
}

.vanpelt{
    width:60%;
    border-radius: 20px;
}

.middle{
    background-color: white;
    height: fit-content;
    width: 110%;
    padding: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    animation: slideInFromLeft 1s ease-out forwards;
    padding:5% 10% 10% 10%;
}

@keyframes slideInFromLeft {
    0% {
      opacity: 0;
      transform: translateX(-50%);
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
}



.middle p {
    opacity: 0;
    animation: slideInFromLeft 1s ease-out forwards;
   }
   
   
/* Stagger each line */
   .middle p:nth-child(1) {
    animation-delay: 1s;
   }
   .middle p:nth-child(2) {
    animation-delay: 1.5s;
   }
   .middle p:nth-child(3) {
    animation-delay: 2s;
   }
   .middle p:nth-child(4) {
    animation-delay: 2.5s;
   }
   .middle p:nth-child(5) {
    animation-delay: 3s;
   }


.section2{
    background-color: #141412;
    width:110%;
    height:fit-content;
    position:relative;
    padding:10%;
    text-align: center;
    justify-items: center;
    align-items:center;
}

.mockup{
    position: relative;
    height: auto;
    width: 60vw;
    transition: transform 0.3s ease;
}

.mockup:hover{
    transform: scale(1.1);
}

.header1 {
    font-family: "Khand", sans-serif;
    font-weight: 700;
    font-size: 5vw;
    font-style: normal;
    color: black;
    line-height: 90%;
}

.header2 {
    font-family: "Khand", sans-serif;
    font-weight: 700;
    font-size: 8vw;
    font-style: normal;
    color: white;
    line-height: 0;
}

.subheader2 {
    font-family: "Instrument Serif", serif;
    font-weight: 400;
    font-size:3vw;
    font-style: normal;
    color: white;
    line-height: 0;
  }

.subheader1 {
    font-family: "Instrument Serif", serif;
    font-weight: 400;
    font-size:3vw;
    font-style: normal;
    color: black;
    line-height: 0;
}
.button {
    position:relative;
    width: 15vw;
    height: fit-content;
    font-family: "Khand", sans-serif;
    font-weight: 700;
    background-color: white;
    border-radius: 20px;
    padding:10px;
    font-size: 3vw;
    text-decoration: none;
    animation: fadein 10s ease-in-out forwards;
}

.button::before {
    content: "";
    color:black;
}

.button:hover {
    content:"Connect";
    color: white;
    background-color: #FC4D16;
}